
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddBook</title>
</head>
<body>
    <div>
        <form action="" method="post">
            <table>
                <tr>
                    <td>Title</td>
                    <td><input type="text" name="Tytle" placeholder="Book Title" value="" /></td>
                </tr>
                <tr>
                    <td>Author</td>
                    <td><input type="text" name="Author" placeholder="Author Name" value="" /></td>
                </tr>
                <tr>
                    <td>Edition</td>
                    <td><input type="text" name="Edition" placeholder="Edition" value="" /></td>
                </tr>
                <tr>
                    <td>Genre</td>
                    <td>
                        <input type="checkbox" name="Genre" value="Action" /> Action <br />
                        <input type="checkbox" name="Genre" value="Thriller" /> Thriller<br />
                        <input type="checkbox" name="Genre" value="Romantic" /> Romantic
                    </td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td><input type="text" name="Price" placeholder="Price" value="" /></td>
                </tr>
                <tr>
                    <td><input type="submit" name="Submit" value="Add" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
