@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model Library.Models.Genre
<div class="d-flex justify-content-center mt-4">
    <div class="col-md-4 card ">
        <form action="" method="post">

            <div class="form-group">
                <label for="GenreName">Genre</label>
                <input type="text" class="form-control" name="GenreName" placeholder="Enter Genre">
                <span style="color:red">@Html.ValidationMessageFor(model => model.GenreName)</span>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>

        </form>
    </div>

</div>