

    <div>
        <form action=""method="post">

            <table align="center">
                <tr>
                    <td>
                        Username
                    </td>
                    <td><input type="text" name="Username" value="" /></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="Password" value="" /></td>
                </tr>
            </table>

        </form>
    </div>
