

    <div>
        <form action=""method="post">

            <table align="center">
                <tr>
                    <td>
                        Username
                    </td>
                    <td><input type="text" name="Username" placeholder="Usename" value="" /></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="Password" placeholder="Password" value="" /></td>
                </tr>

                <tr>
                    <td align="right" colspan="2">
                        <input type="submit" value="Login" />
                    </td>
                   
                </tr>
                <tr>
                    <td colspan="2" align="right"><a href="../User/Registration">new here?Go to registration</a></td>
                </tr>
            </table>

        </form>
    </div>
