
<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
        <h3 style="color:orangered">Book Library</h3>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="~/Admin/index" class="nav-item nav-link active">Home</a>
                <a href="~/Admin/Admins" class="nav-item nav-link active">Admin</a>
                <a href="~/Book/Index" class="nav-item nav-link active">Book</a>
                <a href="~/Genre/Index" class="nav-item nav-link active">Genre</a>
                <a href="~/Admin/AProfile/@Session["Id"]" class="nav-item nav-link active">Profile</a>
            </div>
            <h5 style="color:aquamarine" class="form-inline ml-auto">Welcome,</h5><h5 style="color:chartreuse">@Session["Username"]</h5>
            <h5><a href="~/Logout/Index" style="color:white" class="nav-item nav-link active">&nbsp Logout</a></h5>
        </div>
    </nav>
</div>