
<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
        <a href="#" class="navbar-brand">Brand</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="~/Admin/index" class="nav-item nav-link active">Home</a>
               @* <a href="~/Admin/Admins" class="nav-item nav-link active">Admin</a>*@
                <a href="~/Book/Index" class="nav-item nav-link active">Book</a>
               @* <a href="~/Genre/Index" class="nav-item nav-link active">Genre</a>*@
                <a href="~/Customer/CustomerProfile/@Session["Id"]" class="nav-item nav-link active">Profile</a>               
            </div>
            <h5 style="color:aquamarine" class="form-inline ml-auto">Welcome,</h5><h5 style="color:chartreuse">@Session["Username"]</h5>
            <a href="~/Logout/Index"><h4 style="color:black">&nbsp Logout</h4></a>
        </div>
    </nav>
</div>