
<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
       <h2   class="navbar-brand">Book Library</h2></>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="~/Customer/index" class="nav-item nav-link active">Home</a>
               
                <a href="~/Customer/Allbook" class="nav-item nav-link active">Book</a>
              
                <a href="~/Customer/CProfile/@Session["Id"]" class="nav-item nav-link active">Profile</a>               
            </div>
            <h5 style="color:aquamarine" class="form-inline ml-auto">Welcome,</h5><h5 style="color:chartreuse">@Session["Username"]</h5>
         <h5><a href="~/Logout/Index" style="color:white" class="nav-item nav-link active">&nbsp Logout</a></h5>
        </div>
    </nav>
</div>