@model IEnumerable<Library.Models.Book>

@{
    Layout = "~/Views/Shared/_CusLayout.cshtml";
}

<table class="table table-striped w-auto .table-fixed">
    
 

    @foreach (var item in Model)
    {
        <tr>
            <td style="color:lightgreen">
                <a href="BookDetails/@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>  
            </td>

            <td style="color:khaki">
                @Html.ActionLink("Downlaod", "BookDownload", new { id = item.Id })
            </td>
        </tr>
    }

</table>

