@{
    Layout = "~/Views/Shared/_CusLayout.cshtml";
}
@model Library.Models.User


<div>

    <div>

        <h4 style="color:aquamarine">Your Profile</h4>
    </div>

    <a href="~/Customer/ProfilePicture">Upload Profile picture</a>
  

    <table class="table table-striped table-hover table table-striped w-auto .table-fixed">
        <tr>

            <td>
                Username
            </td>

            <td>
                @Model.Username
            </td>
        <tr>

        <tr>
            <td>Name</td>
            <td>
                @Model.Name

            </td>

        </tr>


        <tr>
            <td>Email</td>
            <td>
                @Model.Email)

            </td>

        </tr>


        <tr>
            <td>Phone</td>
            <td>
                @Model.Phone)
            </td>

    </table>
    <a href="~/Customer/CustomerProfile/@Session["Id"]">Edit profile &nbsp</a>
    <a href="~/Customer/ChangePass/@Session["Id"]">Change Password</a>
    

</div>