
@{
    Layout = "~/Views/Shared/_CusLayout.cshtml";
}
<div>

    <form action="" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>Upload profile</td>
                <td><input type="file" name="PostedImage" value="" /></td>
            </tr>
            <tr><td><input type="submit" name="upload" value="Update" /></td></tr>
        </table>
    </form>

</div>
