@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Library.Models.User

<div>




    <table  class="table table-striped table w-auto table-hover ">
        <tr>

            <td>
                Username
            </td>

            <td>
                @Model.Username
            </td>
        <tr>

        <tr>
            <td>Name</td>
            <td>
                @Model.Name

            </td>

        </tr>


        <tr>
            <td>Email</td>
            <td>
                @Model.Email)

            </td>

        </tr>


        <tr>
            <td>Phone</td>
            <td>
                @Model.Phone)
            </td>

    </table>
    <a href="~/Admin/AdminProfile/@Session["Id"]">Edit profile</a>

</div>