
<div>
    <table align="right">
        <tr>
            <td> <h1 style="color:darkgreen">Welcome <a href="/Admin/AdminProfile/@Session["Id"]">@Session["Username"].ToString()</a></h1></td>
        </tr>

    </table>
</div>
<div>
    <table>
        <tr>
            <td><a href="/Admin/Admins"><h3>Admin</h3></a></td>
        </tr>
        <tr>
            <td><a href="~/Book/Index"><h3>Book</h3></a></td>
        </tr>
        <tr>
            <td><a href="/Genre/Index"><h3>Genre</h3></a></td>
        </tr>

        <tr>
            <td>
                <a href="/Admin/AdminProfile/@Session["Id"]"><h3>Profile</h3></a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="../logout/index"><h3>logout</h3></a>
            </td>
        </tr>
    </table>


</div>